<!--navbar start -->
<nav style="background-color: black;height: 100px;" class="navbar navbar-expand-lg fixed" [ngStyle]="navbg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NetFlix</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-auto" routerLink="search">Search</a>
        </li>


      </ul>
    </div>
  </div>
</nav>

<!--navbar end -->
<div style="width: 100%;height: 100%;">
  <router-outlet></router-outlet>
</div>
