
*{
  padding:0;
  margin:0;
 

}
body{
  font-family: 'Ubuntu', sans-serif;
  height: 100%;


}
.navbar .navbar-brand{
  color :#E50914;
  font-weight: bold;

}
.navbar .nav-item .nav-link {
   color :#E50914;

 }
 .feuille{
  height: 80%;
  margin-top: 10px;
 }


